
#project-box {
    margin-top:2em;
    padding:1em;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.31);
    display:flex;
    width:fit-content;
    max-width:700px;
    flex-flow:wrap;
    justify-content:center;

}

.project-card {
    margin:1em;
    background:white;
    color:black;
    width:180px;
    height:250px;
    border-radius:.25em;
    padding:.25em;
}

