<div style="display:flex;justify-content: center;flex-direction: column;align-items: center;">
    <div class="profPicBorder"></div>
    <div
        style="overflow: hidden; border-radius: 50%; height:375px;width:375px;display:flex;justify-content: center;align-items: center; margin:2em;">
        <img src="/picture.jpg" class="pic">
    </div>


</div>
<div id="text-box">

<h1 style="filter:drop-shadow(2px 2px 2px rgba(209, 160, 0, 0.308)); margin-top:1em;text-align: center;">

    <span id="myName" style="margin-top:2em;">Hi, I'm Dave D.</span>

 <br />
        <span id="myRole"> a full-stack developer</span></h1>
</div>